@import url('reset.css');

/* Common */

.bdr_non{border:none !important;}
a {color:#9B4444}
a:hover {color:#7b7537}

.captalize{text-transform:capitalize !important;}

.relative{position:relative;}

::-moz-selection {background-color: #21B7EC; color: #fff;}
::selection {background-color: #21B7EC; color: #fff;}

.rounded{position:relative;}
.mbot100{margin-bottom:100px !important;}

.mrg_top33{margin-top:53px !important;}
/* Common */


/*IE Hack*/
.ie7 .main li.last a{padding:0 14px 0 17px;}
.ie7 .main li li,.ie7 .main li li:first-child{background-image:none;}

.ie8 .main li.last a{padding:0 14px 0 17px;}

.ie9 .main li.last a{padding:0 10px 0 9px;}
.ie9 .accounts-table td input.check-box{border:none;border:1px solid #a8a8a8;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {.main li.last a{padding:0 10px 0 9px !important;}}/*ie 10*/

/*IE Hack*/



body {font:normal 12px/18px  'Arial', Helvetica, sans-serif;color:#000000;background:#ffffff;}
table {font:normal 12px/18px  'Arial', Helvetica, sans-serif;color:#000000;}

input, button{border:none;}

input[type=button]{cursor:pointer;}

#wrapper{width:1390px; margin:0 auto;}

header, footer {position:relative;}

h1,h2,h3,h4,h5,h6{font-family:'Arial', Helvetica, sans-serif; font-weight:normal;}



header{float:left; width:100%; height:90px;}

.logo{float:left; margin:30px 0 0 25px;}

.hdr_rgt{float:right; margin-top:30px; width:40%; font-size:13px;}

.hdr_rgt .button{float:right; font-size:12px;}
.hdr_rgt .sep{float:right; font-size:18px; padding:0 10px;}

.button{color:#ffffff; background:#ec028b; padding:5px 20px; border-radius:5px; z-index:0;}
.button:hover{background:#00b2f4;}

.user_detail, .user_section{float:right; height:30px; line-height:30px;}
.usr_img{float:left; border:solid 1px #47494c; margin:0 10px 0 0;}

.user_section a{color:#eb018b; text-decoration:underline; margin-right:20px;margin-left:20px;}

.main{float:left; width:100%; font-size:12px;}
.main li{float:left; background:url('../images/menu_bg.png') repeat-x 0 0;}

.main ul li.active,.main li:hover{background:url('../images/menu_bg_hvr.png') repeat-x 0 0;}

.main li a{background:url('../images/menu_sep.png') no-repeat right top; float:left; padding:0 14px 0 0px; line-height:38px; height:38px; color:#fff; font-weight:bold;}
.main li:first-child{background:url('../images/menu_lft.png') no-repeat left top;}
.main li.last{background:url('../images/menu_rgt.png') no-repeat right top;}
.main li:first-child:hover{background:url('../images/menu_lft_hvr.png') no-repeat left top;}
.main li.last:hover{background:url('../images/menu_rgt_hvr.png') no-repeat right top;}
.main li.last a{padding:0 14px 0 17px; background:none;}

.main li li a.last_dd{border-radius: 0 0 10px 10px;}


.main li span.icon{background:url('../images/icon_sprite.png') no-repeat -50px top; width:23px; height:38px; float:left;}
.main li:hover span.icon.ico_dash,.main li.active span.icon.ico_dash{background-position:-5px 12px;}
.main li:hover span.icon.ico_customer,.main li.active span.icon.ico_customer{background-position:-5px -19px;}
.main li:hover span.icon.ico_product,.main li.active span.icon.ico_product{background-position:-5px -695px;}
.main li:hover span.icon.ico_accounts,.main li.active span.icon.ico_accounts{background-position:-5px -1163px;}
.main li:hover span.icon.ico_admin,.main li.active span.icon.ico_admin{background-position:-5px -1550px;}
.main li:hover span.icon.ico_marketing,.main li.active span.icon.ico_marketing{background-position:-5px -1940px;}
.main li:hover span.icon.ico_business,.main li.active span.icon.ico_business{background-position:-5px -2254px;}
.main li:hover span.icon.ico_security,.main li.active span.icon.ico_security{background-position:-5px -2814px;}
.main li:hover span.icon.ico_config,.main li.active span.icon.ico_config{background-position:-5px -3081px;}

.ddsmoothmenu ul li ul li a{background:url('../images/icon_sprite.png') no-repeat 5px top;-webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-duration: 0.3s;}
.ddsmoothmenu ul li ul li a:hover{background:url('../images/icon_sprite.png') no-repeat 5px top #00b2f4;}

.ddsmoothmenu ul li ul li a.sub_ico_order{background-position:5px -89px;}
.ddsmoothmenu ul li ul li a.sub_ico_order:hover{background-position:5px -55px;}
.ddsmoothmenu ul li ul li a.sub_ico_user_info{background-position:5px -165px;}
.ddsmoothmenu ul li ul li a.sub_ico_user_info:hover{background-position:5px -127px;}
.ddsmoothmenu ul li ul li a.sub_ico_custmr_acnt{background-position:5px -232px;}
.ddsmoothmenu ul li ul li a.sub_ico_custmr_acnt:hover{background-position:5px -200px;}
.ddsmoothmenu ul li ul li a.sub_ico_promotions{background-position:5px -301px;}
.ddsmoothmenu ul li ul li a.sub_ico_promotions:hover{background-position:5px -266px;}
.ddsmoothmenu ul li ul li a.sub_ico_cstmr_credits{background-position:5px -375px;}
.ddsmoothmenu ul li ul li a.sub_ico_cstmr_credits:hover{background-position:5px -337px;}
.ddsmoothmenu ul li ul li a.sub_ico_mca_acnt{background-position:5px -447px;}
.ddsmoothmenu ul li ul li a.sub_ico_mca_acnt:hover{background-position:5px -412px;}
.ddsmoothmenu ul li ul li a.sub_ico_temp_srch{background-position:5px -588px;}
.ddsmoothmenu ul li ul li a.sub_ico_temp_srch:hover{background-position:5px -553px;}
.ddsmoothmenu ul li ul li a.sub_ico_user_stat{background-position:5px -515px;}
.ddsmoothmenu ul li ul li a.sub_ico_user_stat:hover{background-position:5px -478px;}
.ddsmoothmenu ul li ul li a.sub_ico_ctlog_rqst{background-position:5px -660px;}
.ddsmoothmenu ul li ul li a.sub_ico_ctlog_rqst:hover{background-position:5px -624px;}

.ddsmoothmenu ul li ul li a.sub_ico_hpg_scrl{background-position:5px -767px;}
.ddsmoothmenu ul li ul li a.sub_ico_hpg_scrl:hover{background-position:5px -731px;}
.ddsmoothmenu ul li ul li a.sub_ico_prdct_stp{background-position:5px -835px;}
.ddsmoothmenu ul li ul li a.sub_ico_prdct_stp:hover{background-position:5px -802px;}
.ddsmoothmenu ul li ul li a.sub_ico_dscnt_stp{background-position:5px -907px;}
.ddsmoothmenu ul li ul li a.sub_ico_dscnt_stp:hover{background-position:5px -869px;}
.ddsmoothmenu ul li ul li a.sub_ico_shpng_trnarnd{background-position:5px -983px;}
.ddsmoothmenu ul li ul li a.sub_ico_shpng_trnarnd:hover{background-position:5px -947px;}
.ddsmoothmenu ul li ul li a.sub_ico_agnt_pkg{background-position:5px -1057px;}
.ddsmoothmenu ul li ul li a.sub_ico_agnt_pkg:hover{background-position:5px -1018px;}
.ddsmoothmenu ul li ul li a.sub_ico_manfst_trans{background-position:5px -1130px;}
.ddsmoothmenu ul li ul li a.sub_ico_manfst_trans:hover{background-position:5px -1093px;}

.ddsmoothmenu ul li ul li a.sub_ico_invs{background-position:5px -1240px;}
.ddsmoothmenu ul li ul li a.sub_ico_invs:hover{background-position:5px -1203px;}
.ddsmoothmenu ul li ul li a.sub_ico_pmnt{background-position:5px -1307px;}
.ddsmoothmenu ul li ul li a.sub_ico_pmnt:hover{background-position:5px -1274px;}
.ddsmoothmenu ul li ul li a.sub_ico_rcpts{background-position:5px -1375px;}
.ddsmoothmenu ul li ul li a.sub_ico_rcpts:hover{background-position:5px -1340px;}
.ddsmoothmenu ul li ul li a.sub_ico_cstmr_rcpts{background-position:5px -1447px;}
.ddsmoothmenu ul li ul li a.sub_ico_cstmr_rcpts:hover{background-position:5px -1411px;}
.ddsmoothmenu ul li ul li a.sub_ico_stmnt_acnts{background-position:5px -1516px;}
.ddsmoothmenu ul li ul li a.sub_ico_stmnt_acnts:hover{background-position:5px -1482px;}

.ddsmoothmenu ul li ul li a.sub_ico_mca_rprt{background-position:5px -1631px;}
.ddsmoothmenu ul li ul li a.sub_ico_mca_rprt:hover{background-position:5px -1593px;}
.ddsmoothmenu ul li ul li a.sub_ico_ctlg_rprt{background-position:5px -1696px;}
.ddsmoothmenu ul li ul li a.sub_ico_ctlg_rprt:hover{background-position:5px -1663px;}
.ddsmoothmenu ul li ul li a.sub_ico_ctlg_rprt_sts{background-position:5px -1767px;}
.ddsmoothmenu ul li ul li a.sub_ico_ctlg_rprt_sts:hover{background-position:5px -1731px;}
.ddsmoothmenu ul li ul li a.sub_ico_sprkt_ordrs{background-position:5px -1836px;}
.ddsmoothmenu ul li ul li a.sub_ico_sprkt_ordrs:hover{background-position:5px -1801px;}
.ddsmoothmenu ul li ul li a.sub_ico_tnsctn_rprt{background-position:5px -1905px;}
.ddsmoothmenu ul li ul li a.sub_ico_tnsctn_rprt:hover{background-position:5px -1869px;}

.ddsmoothmenu ul li ul li a.sub_ico_cstmr_crt{background-position:5px -2010px;}
.ddsmoothmenu ul li ul li a.sub_ico_cstmr_crt:hover{background-position:5px -1976px;}
.ddsmoothmenu ul li ul li a.sub_ico_cstmr_dsgn{background-position:5px -2081px;}
.ddsmoothmenu ul li ul li a.sub_ico_cstmr_dsgn:hover{background-position:5px -2044px;}
.ddsmoothmenu ul li ul li a.sub_ico_eml_mrktng{background-position:5px -2148px;}
.ddsmoothmenu ul li ul li a.sub_ico_eml_mrktng:hover{background-position:5px -2114px;}
.ddsmoothmenu ul li ul li a.sub_ico_excld_eml{background-position:5px -2217px;}
.ddsmoothmenu ul li ul li a.sub_ico_excld_eml:hover{background-position:5px -2180px;}

.ddsmoothmenu ul li ul li a.sub_ico_splr_vndr{background-position:5px -2327px;}
.ddsmoothmenu ul li ul li a.sub_ico_splr_vndr:hover{background-position:5px -2292px;}
.ddsmoothmenu ul li ul li a.sub_ico_frgt_shpng{background-position:5px -2398px;}
.ddsmoothmenu ul li ul li a.sub_ico_frgt_shpng:hover{background-position:5px -2361px;}
.ddsmoothmenu ul li ul li a.sub_ico_splr_pmnt{background-position:5px -2467px;}
.ddsmoothmenu ul li ul li a.sub_ico_splr_pmnt:hover{background-position:5px -2433px;}
.ddsmoothmenu ul li ul li a.sub_ico_splr_modifi{background-position:5px -2541px;}
.ddsmoothmenu ul li ul li a.sub_ico_splr_modifi:hover{background-position:5px -2503px;}
.ddsmoothmenu ul li ul li a.sub_ico_cco_brnd{background-position:5px -2632px;}
.ddsmoothmenu ul li ul li a.sub_ico_cco_brnd:hover{background-position:5px -2587px;}
.ddsmoothmenu ul li ul li a.sub_ico_b2b_afli{background-position:5px -2708px;}
.ddsmoothmenu ul li ul li a.sub_ico_b2b_afli:hover{background-position:5px -2675px;}
.ddsmoothmenu ul li ul li a.sub_ico_bsns_reg{background-position:5px -2775px;}
.ddsmoothmenu ul li ul li a.sub_ico_bsns_reg:hover{background-position:5px -2742px;}

.ddsmoothmenu ul li ul li a.sub_ico_grp_rls{background-position:5px -2900px;}
.ddsmoothmenu ul li ul li a.sub_ico_grp_rls:hover{background-position:5px -2855px;}
.ddsmoothmenu ul li ul li a.sub_ico_usrs{background-position:5px -2970px;}
.ddsmoothmenu ul li ul li a.sub_ico_usrs:hover{background-position:5px -2938px;}
.ddsmoothmenu ul li ul li a.sub_ico_chng_pwd{background-position:5px -3039px;}
.ddsmoothmenu ul li ul li a.sub_ico_chng_pwd:hover{background-position:5px -3002px;}

.ddsmoothmenu ul li ul li a.sub_ico_variants{background-position:5px -3156px;}
.ddsmoothmenu ul li ul li a.sub_ico_variants:hover{background-position:5px -3120px;}
.ddsmoothmenu ul li ul li a.sub_ico_atrbts{background-position:5px -3223px;}
.ddsmoothmenu ul li ul li a.sub_ico_atrbts:hover{background-position:5px -3188px;}
.ddsmoothmenu ul li ul li a.sub_ico_prdcts{background-position:5px -3292px;}
.ddsmoothmenu ul li ul li a.sub_ico_prdcts:hover{background-position:5px -3257px;}
.ddsmoothmenu ul li ul li a.sub_ico_fre_prdcts{background-position:5px -3383px;}
.ddsmoothmenu ul li ul li a.sub_ico_fre_prdcts:hover{background-position:5px -3338px;}
.ddsmoothmenu ul li ul li a.sub_ico_fre_prmtn{background-position:5px -3450px;}
.ddsmoothmenu ul li ul li a.sub_ico_fre_prmtn:hover{background-position:5px -3417px;}
.ddsmoothmenu ul li ul li a.sub_ico_tmplts{background-position:5px -3523px;}
.ddsmoothmenu ul li ul li a.sub_ico_tmplts:hover{background-position:5px -3485px;}
.ddsmoothmenu ul li ul li a.sub_ico_rvrs_tmplts{background-position:5px -3596px;}
.ddsmoothmenu ul li ul li a.sub_ico_rvrs_tmplts:hover{background-position:5px -3560px;}
.ddsmoothmenu ul li ul li a.sub_ico_rltrs{background-position:5px -3665px;}
.ddsmoothmenu ul li ul li a.sub_ico_rltrs:hover{background-position:5px -3630px;}
.ddsmoothmenu ul li ul li a.sub_ico_mssgs{background-position:5px -3738px;}
.ddsmoothmenu ul li ul li a.sub_ico_mssgs:hover{background-position:5px -3702px;}
.ddsmoothmenu ul li ul li a.sub_ico_kiosks{background-position:5px -3807px;}
.ddsmoothmenu ul li ul li a.sub_ico_kiosks:hover{background-position:5px -3773px;}
.ddsmoothmenu ul li ul li a.sub_ico_kiosks_cmpny{background-position:5px -3874px;}
.ddsmoothmenu ul li ul li a.sub_ico_kiosks_cmpny:hover{background-position:5px -3840px;}
.ddsmoothmenu ul li ul li a.sub_ico_mstr_cat{background-position:5px -3951px;}
.ddsmoothmenu ul li ul li a.sub_ico_mstr_cat:hover{background-position:5px -3907px;}
.ddsmoothmenu ul li ul li a.sub_ico_cat{background-position:5px -4035px;}
.ddsmoothmenu ul li ul li a.sub_ico_cat:hover{background-position:5px -3988px;}
.ddsmoothmenu ul li ul li a.sub_ico_types{background-position:5px -4106px;}
.ddsmoothmenu ul li ul li a.sub_ico_types:hover{background-position:5px -4068px;}
.ddsmoothmenu ul li ul li a.sub_ico_countries{background-position:5px -4197px;}
.ddsmoothmenu ul li ul li a.sub_ico_countries:hover{background-position:5px -4150px;}
.ddsmoothmenu ul li ul li a.sub_ico_states{background-position:5px -4291px;}
.ddsmoothmenu ul li ul li a.sub_ico_states:hover{background-position:5px -4245px;}

.container{float:left; width:1390px; background:#fff; -webkit-box-shadow: 0 0 10px #888; box-shadow: 0 0 10px #888; border-radius:10px;}

h2{color:#00b1f3; font-weight:bold; font-size:18px; margin-bottom:25px;}

.list_hldr{float:left; height:315px; width:190px; padding-left:80px; background:url('../images/brdr_lft.jpg') no-repeat 70px top; margin-bottom:40px; position:relative; }
.list_hldr.none{background:none;}
.list_hldr li{margin-bottom:10px;}
.list_hldr a{color:#333f4f;}
.list_hldr a:hover{color:#eb018b;}

.list_hldr span{width:66px; height:85px; float:left; position:absolute;}
.list_hldr span.customer{background:url('../images/customer_logo.jpg') no-repeat 0 top; left:8px; top:75px;}
.list_hldr span.product{background:url('../images/product_logo.jpg') no-repeat 0 top; left:4px; top:75px;}
.list_hldr span.accounts	{background:url('../images/accnts_logo.jpg') no-repeat 0 top; left:13px; top:75px;}
.list_hldr span.admini{background:url('../images/admini_logo.jpg') no-repeat 0 top; left:30px; top:75px;}
.list_hldr span.marketing{background:url('../images/marketing_logo.jpg') no-repeat 0 top; left:11px; top:75px;}
.list_hldr span.business{background:url('../images/business_logo.jpg') no-repeat 0 top; left:27px; top:75px;}
.list_hldr span.security{background:url('../images/security_logo.jpg') no-repeat 0 top; left:25px; top:75px;}
.list_hldr span.system_config{background:url('../images/config_logo.jpg') no-repeat 0 top; left:28px; top:75px;}
.list_hldr span.reserved{background:url('../images/resereved_logo.jpg') no-repeat 0 top; left:20px; top:75px;}


footer{width:1390px; text-align:right; margin:0 auto; padding:15px 0}

/*inside Style*/

.contant_hldr{width:1287px; margin:0 auto;}

.contant_hldr h2{font-weight:bold; font-size:18px; margin-bottom:15px;}
.contant_hldr p{margin-bottom:10px; line-height:14px; color:#797979;}
.contant_hldr a{color:#797979; text-decoration:underline;}

.breadcrumbs{float:left; width:100%; height:10px; line-height:10px; margin:20px 0; color:#797979;}
.breadcrumbs li{background:url('../images/bread_arrow.jpg') no-repeat 7px 2px; padding-left:20px; float:left;}
.breadcrumbs li:first-child{background:none; padding-left:0px;}
.breadcrumbs a{color:#00afef; text-decoration:none;}
.breadcrumbs a:hover{color:#eb018b;}

.form{width:1287px; margin:0px auto;}
.form .form_sep_left{width:37%; float:right; margin:20px 0; padding-left:9%;}
.form .form_sep_right{width:37%; float:right; margin:20px 0; padding-right:9%;}
.form .form_sep_center{width:50%; margin:20px 0; padding-left:25%; float:left;}
.form .form_sep:first-child{float:left;}
.form dl{clear:both;margin-bottom:10px; color:#909090; font-size:14px; float:left; width:100%;}
.form dt{width:30%;float:left; padding-right:5%; color:#333f4f; font-size:13px;}
.form dd{width:65%;float:left; margin-left:0;}
.form input, .form textarea{border: 1px solid #a8a8a8;outline: medium none; width:98%;}
.form input, .form textarea, .form select{color:#797979; font-size:13px;}
.form select{border: 1px solid #a8a8a8; outline: medium none; width:100%; padding-left:5px;}
.form input{height:21px; line-height:21px;}
.form select{height:23px; line-height:23px;}
.form input.button{float:right;background: url('../images/blu-btn-rgt.jpg') no-repeat right 0; border:0; height:28px; width:auto; padding:0px 15px 0px 15px; cursor: pointer; color:#FFF; font-weight:bold;}
.form input.button:hover{color:#000;}
.form table{font-size:12px; width:100%;}
/*.form table th{text-align:center;}*/
.form input.checkb{float:left; border:0; height:28px; width:auto; padding:0px 15px 0px 15px; cursor: pointer; color:#FFF; font-weight:bold;}

.table{}
.table th{background:#7eb7df; height:36px; line-height:26px; color:#fff; font-size:13px; margin-bottom:5px; text-align:left; border-bottom:solid 9px #fff;}
.table th:first-child{text-align:center;}
.table th a.click,.table th span{float:left;}
.table th a{text-decoration:none;background: url('../images/down_arw.jpg') no-repeat right;padding-right: 16px;}
.table th a.click{margin-left:0px;}
.table td{padding-right:1%; background:#e4f3f9; border-bottom:solid 8px #fff; line-height:26px; height:36px; color:#333f4f; }
.table td select,.table th select{width:157px; line-height:21px; height:21px; color:#797979; border: 1px solid #a8a8a8;}
.table td input.chk,.table th input.chk{width:12px; line-height:21px; height:12px; color:#797979; border: 1px solid #a8a8a8;}
.table td:first-child{text-align:center;}
.table td.algn{text-indent:10px;}
/*.table th:last-child{text-align:center;}
.table td:last-child{text-align:center;}*/
.table td doc_ico{padding-right:1%; background:#e4f3f9; border-bottom:solid 8px #fff; line-height:0px; height:0px; color:#333f4f; }


.tablep{}
.tablep th{background:#7eb7df !important; height:36px !important; line-height:26px !important; color:#fff !important; font-size:13px; margin-bottom:5px; text-align:left; border-bottom:solid 9px #e4f3f9;} 
.tablep th:first-child{text-align:center;}
.tablep th a.click,.tablep th span{float:left;}
.tablep th a.click{margin-left:10px;}
.tablep td{padding-right:1%; background:#fff; border-bottom:solid 8px #e4f3f9; line-height:26px; height:36px; color:#000000; }
.tablep td select,.tablep th select{width:157px; line-height:21px; height:21px; color:#797979; border: 1px solid #a8a8a8;}
.tablep td input.chk,.tablep th input.chk{width:12px; line-height:21px; height:12px; color:#797979; border: 1px solid #a8a8a8;}
.tablep td:first-child{text-align:center;}
.tablep td.algn{text-indent:10px;}
/*.tablep th:last-child{text-align:center;}
.tablep td:last-child{text-align:center;}*/
.tablep td doc_ico{padding-right:1%; background:#e4f3f9; border-bottom:solid 8px #fff; line-height:0px; height:0px; color:#333f4f; }
 
.tabled th{background:#7eb7df !important; height:25px !important; line-height:20px !important; color:#fff !important;}
.tabled td{background:#e4f3f9; border-bottom:solid 1px #fff; color:#333f4f; padding-left:10px;}
.tabled td select,.tabled th select{width:275px; line-height:21px; height:21px; color:#797979; border: 1px solid #a8a8a8;}

.doc_ico a{background:url('../images/sprite_ico.jpg') no-repeat 0 0; width:20px; height:19px; margin-right:3px; float:left; text-decoration:none;}
.doc_ico a.pdf{background-position:0px 0px;}
.doc_ico a.print{background-position:-34px 0px;}
.doc_ico a.box{background-position:-65px 0px;}
.doc_ico a.doc1{background-position:-105px 0px;}
.doc_ico a.doc2{background-position:-143px 0px;}
.doc_ico a.pdf_up{background-position:-177px 0px;}
.doc_ico a.pdf1{background-image:none; width:0px; height:0px; margin-right:0px; text-decoration:none;}

.ttl{float:left; font-weight:bold; margin:10px 0;}
.btn_lst{float:left; width:100%; margin-bottom:50px;}
.btn_lst .rgt{float:right; width:50%;}
.btn_lst .rgt .button{float:right;}
.btn_lst .lft{float:left; width:43%;}
.btn_lst .lft .button{float:left;}
.btn_lst .center {width:100%; padding:20px 0 0 170px;}
/*.btn_lst .button{float: left; background: url('../images/blu-btn-rgt.jpg') no-repeat right 0; border: 0; height: 28px; width: auto; padding: 0px 15px 0px 15px; margin-right:3px; cursor: pointer; color: #FFF; font-weight:bold;}
.btn_lst .button:hover{color:#000;}*/
.btn_lst  .button, .accounts-table .button, .popup-contnt .button {float: left; background: url('../images/blu-btn-rgt.jpg') no-repeat right 0; border: 0; height: 28px; width: auto; padding: 0px 15px 0px 15px; margin-right:3px; cursor: pointer; color: #FFF; font-weight:bold;}
.btn_lst  .button:hover, .accounts-table .button:hover, .popup-contnt .button:hover{color:#000;}
.accounts-table .button, .popup-contnt .button{float:none}
.hom_hldr{margin-top:50px;}

.accounts-table{float:left; width:100%; margin-bottom:10px}
.accounts-table th{background:#e4f3f9;height:36px;border-bottom:solid 8px #fff;text-align:left;font-size:14px;line-height:36px;color:#333f4f; font-weight:bold;padding-left:10px}
.accounts-table td{line-height:36px; height:36px;}
.accounts-table td label{padding:0 20px 0 105px;float:left;width:150px;color:#333f4f}
.accounts-table td input.text-box{width:295px;border:1px solid #a8a8a8; padding:2px 10px 2px;line-height:18px;color:#797979}
.accounts-table td input.check-box{border:1px solid #a8a8a8;}
.accounts-table td select.list-box{border:1px solid #a8a8a8; padding:5px 0 5px 5px;color:#797979;width:240px; height:150px;}

.accounts-table td .slect-box{width:315px;border:1px solid #a8a8a8; padding:0 0 0 10px;line-height:25px; height:23px;color:#797979}
.accounts-table td .button.close-btn{margin-right:100px;}


/*-Popup css-*/
.popup-wrapper{width:88%;padding:40px;}
.popup-title{padding-left:20px;font-size:16px;color:#fff; height:36px;line-height:36px;background-color:#7EB7DF}
.popup-contnt{background-color:#e4f3f9; width:96%;padding:2%}
.popup-contnt table{width:90%;margin: 20px auto 0;}
.popup-contnt table textarea{border:1px solid #a8a8a8;width:309px;height:79px;color:#797979;padding:3px;resize:none}
.popup-contnt table td{height:36px;line-height:36px;vertical-align:top;color:#797979}
.popup-contnt table label{font-weight:bold;color:#333f4f}
.fancybox-title{display:none !important}

.popup-contnt input{height:21px; line-height:21px; color:#797979; font-size:13px;}
.text {border: 1px solid #797979; width:217px;}
.ddlist {border: 1px solid #797979; width:217px;}

.textbox {
    border: 1px solid #a8a8a8;
    height:65%;
    width:80%;
    color: #797979;
}