﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CustOrderNotes.aspx.cs" Inherits="Bestprintbuy.Admin.Web.Customers.CustOrderNotes" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Best Print Buy</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" media="all" href="../css/bestprintbuy_style.css" />    
	<link rel="stylesheet" media="all" href="../css/jquery.fancybox.css" />
	<script src="../Scripts/jquery.js"></script>
	<script src="../Scripts/common.js"></script>
    <script src="../Scripts/ddsmoothmenu.js"></script>
	<script src="../Scripts/plugin/fancybox/jquery.fancybox.js"></script>
    <!--[if lt IE 9]>
			<script src="../Scripts/html5.js"></script>
		<![endif]-->
    <!--[if lte IE 7]> <html class="ie7"> <![endif]-->
    <!--[if IE 8]>     <html class="ie8"> <![endif]-->
    <!--[if IE 9]>     <html class="ie9"> <![endif]-->
    <!--[if IE 10]>     <html class="ie10"> <![endif]-->
    <!--[if !IE]><!-->
    <!--<![endif]-->
    <script>
        function UploadConfirm() {
            //alert($("#uploadPdf").val());
            if ($("#uploadPdf").val() == "") {
                alert("Please select a file of PDF Type to Upload.");
                $("#uploadPdf").focus();
                return false;
            }
            return true;
        }

    </script>
</head>

<body id="Body" runat="server">
    <!-- Wrapper starts -->
    <div class="popup-wrapper" runat="server">
        <div class="popup-title">	
            <% if (IsUpload.Value == "false")
               { %>	Notes<%}else {%>Upload Pdf<%} %>

			</div>
        <!-- Header Ends -->
        <div class="popup-contnt">
            <!-- Menu starts -->
            <form id="Form1" runat="server">
                <table>
                    <tr>
                        <td width="40%"><label>PO Number</label></td>
                        <td>
                            <asp:Label ID="lblPONumber" runat="server" Font-Size="12px"></asp:Label></td>
                    </tr>
                    <tr>
                        <td><label>SO Number</label></td>
                        <td>
                            <asp:Label ID="lblSONumber" runat="server" Font-Size="12px"></asp:Label></td>
                    </tr>
                    <tr id="trNote" runat="server">
                        <td><label>Notes</label></td>
                        <td>
                            <asp:TextBox runat="server" ID="txtNote" style="resize:none;" TextMode="MultiLine" Rows="8" Columns="50" />
                        </td>
                    </tr>
                    <tr id="trUpload" runat="server">
                        <td><label>Upload PDF</label></td>
                        <td>
                            <asp:FileUpload ID="uploadPdf" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right" colspan="2">
                            <asp:Button runat="server" ID="btnSave" CssClass="button rounded" Text="Save" OnClick="btnSave_Click" OnClientClick="return UploadConfirm();"></asp:Button>
                            <asp:Button runat="server" ID="btnClose" CssClass="button rounded" Text="Close" OnClientClick="parent.$.fancybox.close(); return false;"></asp:Button>
                            <asp:HiddenField ID="hdnErrMessage" runat="server" />
                            <asp:HiddenField ID="hdnPkeyCustPoDtl" runat="server" />
                            <asp:HiddenField ID="hdnLowresProofUrl" runat="server" />
                            <asp:HiddenField ID="hdnPkeyBrPoDtl" runat="server" />
                            <asp:HiddenField ID="hdnHiresProofUrl" runat="server" />
                            <asp:HiddenField ID="IsUpload" runat="server" />
                            <asp:HiddenField ID="hdnHasback" runat="server" />
                            <asp:HiddenField ID="hdnCustomerKey" runat="server" />
                            <asp:HiddenField ID="hdnSizeKey" runat="server" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>
