﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="XPrintInvoice.aspx.cs" Inherits="Bestprintbuy.Admin.Web.Customers.XPrintInvoice" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <script>
         window.print();
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
